
.modal .modal-dialog {
    max-width: 400px;
}
.form-horizontal{
    background: #fff;
    padding-bottom: 50px;
    border-radius: 30px;
    text-align: center;
}
.modal-content  .form-horizontal .admin-header {
    font-size: 25px;
    font-weight: 700;
    border-bottom: 1px solid #f0f0f0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.form-horizontal .form-group{
    padding: 0 40px;
    margin: 0 0 25px 0;
}

.form-horizontal .btn{
    float: right;
    font-size: 14px;
    color: #fff;
    background: #00b4ef;
    border-radius: 30px;
    padding: 10px 25px;
    margin-right: 100px;
    border: none;
    text-transform: capitalize;
    transition: all 0.5s ease 0s;
}

